
<!DOCTYPE html>
<html>
<head>
 {% load static %}
  <link rel='stylesheet' href="{% static 'css/donor.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
       
      </div>
      <ul class="nav navbar-nav">
        {% load static %}
        <li><a href={% url "home" %}><img  src="{% static 'images/Hemacare.png' %}" ></li></a>
        <li ><a href={% url "seek" %}>Seek Blood</a></li>
        <li><a href={% url "sign_in" %}>Donate</a></li>
        <li><a href={% url "login" %}>Login</a></li>
        
        <li><a href={% url "eligibility" %}>Eligibilty Criteria</a></li>
        <li><a href={% url "contact" %}>Contact Us</a></li>
        <li><a href={% url "about_us" %}>About Us</a></li>
      </ul>

    </div>
  </nav>

<form action="#" method="POST" id="donor">
  {% csrf_token %}
  <div class="container">
    <h1><center>Register</center></h1>
    <p>Hello {{user}}. Please fill your details to donate blood.</p>
    <hr>

    <label for="email"><b>Full Name</b></label>
    <input type="text" placeholder="Enter Username" name="person_name" required>

    <label for="age"><b>Age</b></label>
    <input type="text" placeholder="Enter Age" name="age" required>

      <label for="Gender"><b>Gender</b></label><br><br>
 <input type="radio" name="sex" value="Male"> Male<br>
 <input type="radio" name="sex" value="Female"> Female<br>
 <input type="radio" name="sex" value="Other"> Other<br>

 <br>
 <label for="district"><b>District</label>
 <input type="text" placeholder="Enter your district" name="district" required>

 <label for="address"><b>Address</label><br><br>
   <textarea type = "text" rows = "6" cols = "140" name = "address" style="background-color:#f1f1f1;">    </textarea><br><br>

 <label for="pincode"><b>Pincode</label><br><br>
 <input type="number" placeholder="Enter your area pincode" name="pincode" maxlength="200" required>
<br><br>

<label for="Contact Number"><b>Contact Number</label><br><br>
<input type="number" placeholder="Enter your contact number" name="contact_number" maxlength="10" required>
<br><br>

<label for="email"><b>Email</label><br><br>
<input type="email" placeholder="Enter your email" name="email" maxlength="100" required>
<br><br>

<label for="illness"><b>Blood Group</label><br><br>
<select name="blood_group" form="donor">
  <option value="O Positive">O+</option>
  <option value="O Negative">O-</option>
  <option value="A Positive">A+</option>
  <option value="A Negative">A-</option>
  <option value="B Positive">B+</option>
  <option value="B Negative">B-</option>
  <option value="AB Positive">AB+</option>
  <option value="AB Negative">AB-</option>
  <br>
</select><br><br>

<label for="date"><b>Last donated Date</label><br><br>
<input type="date" name="last_donated_date" style="font-family: Arial, Helvetica, sans-serif; background-color:#f1f1f1;"
width="100%" height="50px"><br><br>


<label for="illness"><b>Major Illness, if any</label><br>
<input type="text" placeholder="Enter major illness, if any" name="major_illness" required>


    <hr>
    <p>By creating an account you agree to our <a href={% url "t_c" %}>Terms & Privacy</a>.</p>

    <button type="submit" class="registerbtn">Register</button>
  </div>
<div class="eligible">
<center>  <a href={% url "eligibility" %}>Eligibility Criteria</a> for blood donation</center>
</div>

</form>

</body>
</html>
